<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amirthamresort">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AmirthamResort"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity android:name=".NotificationsActivity" />
        <activity android:name=".MedicalServiceActivity" />
        <activity android:name=".FoodServiceActivity" />
        <activity android:name=".BrowseRoomsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BookingConfirmationActivity" />
        <activity android:name=".DaysSelectionActivity" />
        <activity android:name=".FloorSelectionActivity" />




        <activity android:name=".SplashActivity"
            android:exported="true"> <!-- ✅ FIXED: Exported true for Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
